body {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 998px;
    margin: 0 auto;
    padding: 0 20px;
}

/*header*/
.header {
    padding: 30px 0;
    background-color: rgb(34, 34, 34);
    border-bottom: 1px white solid;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    flex-shrink: 0;
    margin-right: 50px;
}

.l-nav__item + .l-nav__item {
    margin-left: 30px;
}
.l-nav__link {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s ease-out;
}
/*hover*/
.l-nav__link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 2px;
    background-color: green;
    transition: transform 0.35s;
    transform: scaleX(0);
    transform-origin: 0 0;
}
.l-nav__link:hover {
    color: green;
}

.l-nav__link:hover::before {
    transform: scaleX(1);
}
/*main*/
.s-main {
    background-color: rgb(34, 34, 34);
    padding: 300px 0;
    text-align: center;
}
.s-main__title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}
.s-main__title span {
    color: green;
    font-size: 40px;
    text-transform: uppercase;
}
.s-main__text {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
/*services*/
.s-services {
    background-color:rgb(248, 244, 238);
    color: rgb(17, 17, 17);
    padding-top: 120px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.s-services__title {
    font-size: 36px;
    margin-bottom: 20px;
}
.s-services__title span {
    color: green;
    text-transform: uppercase;
}

.l-services {
    margin: 50px -10px 0;
    display: flex;
    flex-wrap: wrap;
}
.l-services__item {
    width: 33.3333%;
    padding: 0 10px;
}

.l-services__item:nth-child(3) ~ .l-services__item {
    margin-top: 30px;
}

.l-services__cell {
    text-align: center;
    padding: 20px 5px 10px 5px;
    list-style: none;
    border: 2px rgb(182, 182, 182) solid;
    transition: border-color 0.2s ease-out;
}

.l-services__title {
    transition: color 0.2s ease-out;
    margin-bottom: 8px;
}

.l-services__text {
    font-size: 18px;
}
/*hover*/
.l-services__item:hover > .l-services__cell {
    border-color: green;
}

.l-services__item:hover .l-services__title {
    color: green;
}

/*team*/
.s-team {
    background-color:rgb(248, 244, 238);
    color: rgb(17, 17, 17);
    padding-bottom: 80px;
    padding-top: 40px;
    text-align: center;
}
.s-team__title {
    font-size: 36px;
    margin-bottom: 50px;
}
.l-team {
    display: flex;
    flex-wrap: wrap;
}
.l-team__card {
    width: 25%;
    padding: 0 10px;
}
.l-team__cell {
    background-color: gray;
    padding-top: 10px;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
}
.l-team__cell img {
    border-right: 5px gray solid;
    border-left: 5px gray solid;
}
.l-team__text-wrapper {
    background-color: rgb(99, 98, 98);
    margin-top: 10px;
    padding-top: 15px;
}
.l-team__name {
    font-size: 18px;
}
.l-team__position, .l-team__name{
    padding-bottom: 10px;
}
/*hover*/
.l-team__cell:hover {
    transform: scale(1.05);
}
/*footer*/
.footer {
    margin-top: auto;
    background-color: rgb(34, 34, 34);
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
/*burger*/
.burger__menu {
    display: none;
}
.burger__menu.open {
    overflow: hidden;
    width: 250px;
    position: absolute;
    background-color:rgb(74, 121, 88);
    position: absolute;
    height: 300px;
    right: 0;
    top: 0;
    position: absolute;
    padding-top: 10px;
}
.burger {
    width: 37px;
    height: 29px;
    display: none;
}
.burger.active {
    margin: 0 auto;
    margin-right: 20px;
}
.burger.active .burger__span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 36px;
    width: 37px;
}
.burger.active .burger__span:nth-child(2) {
    display: none;
}
.burger.active .burger__span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    width: 37px;
    top: 31px;
}
.burger__span {
    display: block;
    background-color:#fff;
    height: 3px;
}
.burger__span:nth-child(1) ~ .burger__span {
    margin-top: 6px;
}
.left__menu {
    text-align: left;
    padding-top: 50px;
    padding-left: 30px;
    display: none;
}
.left__menu.open {
    display: block;
}
.l-nav__item-left {
    display: block;
    margin-bottom: 10px;
}

@media(max-width: 767px) {
    .header {
        padding: 20px 0;
    }
    .header__inner {
        display: block;
        text-align: center;
    }
    .header__logo {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .s-main {
        padding: 180px 0;
    }
    .s-main__text {
        line-height: 28px;
        font-size: 18px;
    }
    .s-main__title {
        font-size: 36px;
    }
    .s-main__title span {
        font-size: 38px;
    }
    .s-services {
        padding-top: 90px;
        font-size: 18px;
    }
    .l-services__text {
        font-size: 16px;
    }
}
@media (max-width: 576px) {
    .l-services__item {
        width: 50%;
    }
    .l-services__item:nth-child(2) ~ .l-services__item {
        margin-top: 30px;
    }
    .l-team__card {
        width: 50%;
    }
    .l-team__card:nth-child(2) ~ .l-team__card {
        margin-top: 30px;
    }
    .header__inner {
        display: flex;
        align-items: center;
    }
    .header__logo {
        margin-bottom: 0;
    }
    .header__nav {
        display: none;
    }
    .burger__menu {
        display: block;
    }
    .burger {
        display: block;
    }
    .s-main {
        padding: 150px 0;
    }
}
@media(max-width: 480px) {
    .s-main__title, .s-services__title {
        font-size: 30px;
        line-height: 40px;
    }
    .s-main__title span {
        font-size: 34px;
    }
    .s-services__text, .l-services__text, .s-main__text, .l-team__name {
        font-size: 16px;
    }
    .footer__text {
        font-size: 12px;
    }
    .s-team {
        padding-top: 30px;
        padding-bottom: 70px;
    }
}
@media(max-width: 370px) {
    .l-services__item {
        width: 100%;
    }
    .l-services__item:nth-child(1) ~ .l-services__item {
        margin-top: 30px;
    }
}